.App {
    text-align: center;
}

.home-h1 {
    font-size: 100px;
}
body{
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: skyblue;
}

.nav-button{
    border: 0;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    margin: 0 40px;
}

.nav-button:hover a{
    color: black;
    transition: all 0.5s ease;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.settings{
    position:absolute;
    right:0;
    width:190px;
    display: none;
    overflow: hidden;
}

.settings:hover{
    transition: all 0.5s ease-in-out;
   
}

.settings h4:hover{
    color:black;
    cursor: pointer;

}




.settings h4{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding:15px;
    margin: 0;
    color: #aaa;
    text-decoration: none;
}

.settings h4 a:visited{
    color:#aaa;
}

.settings h4 a:hover{
    color:black;
}

.nav-button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}



.appname {
    margin-right: auto;
}

.appname a {
    color: black;
}

.appname:hover a {
    border-bottom: transparent;
}